<%- include("./partials/head.ejs")   %>
<body class="container">
    <%- include("./partials/header.ejs")   %>

    <h1 class="text-center">Bienvenido a la Plantilla de Ejs</h1>

    <%- include("./partials/scriptBtps.ejs")   %>
</body>
</html>