<%- include("./partials/head.ejs")   %>
<body class="container">
    <%- include("./partials/header.ejs")   %>

    <h1 class="text-center text-success">Usuario Existente!!  </h1>

    <%- include("./partials/scriptBtps.ejs")   %>
</body>
</html>